.search {
	width: 100%;
	position: relative;
	display: flex;
}

.search__label {
}

.search__input {
	width: 80%;
	border: 3px solid black;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
}

.search__input:focus {
	color: black;
}

.search__button {
	width: 40px;
	height: 36px;
	border: 1px solid black;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
