.button-container {
    text-transform: uppercase;
	display: flex;
	cursor: pointer;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.button-container > * {
    margin-right: 2px;
}

.button-container.sm {
    padding: 4px 15px;
    font-size: 1.2rem;
}
	
.button-container.md {
    padding: 6px 20px;
    font-size: 1.4rem;
}


.button-container.lg {
    padding: 10px 30px;
    font-size: 1.7rem;
}



.button-container.primary {
		background-color: var(--vibrant-primary);
		color: #fff;
}

.button-container.primary:hover {
    background-color: var(--vibrant-secondary-light);
	color: var(--vibrant-secondary-dark);
}

.button-container.inverse {
    background-color: rgb(255, 255, 255);
    color: var(--vibrant-secondary-dark);

}

.button-container.inverse:hover {
    background-color: var(--vibrant-secondary-dark);
    color: #fff;
}

	
.button-container.danger {
		background-color: rgb(223, 55, 59);
		color: #fff;
}

.button-container.danger:hover {
    background-color: rgb(254 242 242);
    color: rgb(223, 55, 59);	
}

.button-container.dark {
    background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.button-container.dark:hover {
   background-color: rgb(75, 85, 99);
	color: white;
}

.button-container.success {
    background-color: rgb(132, 204, 22);
    color: #fff;
}

.button-container.success:hover {
    background-color: rgb(220 252 231);
    color: black;
}
	
