:root {
	--background: #fff;
	--font-color: #494949;
	--vibrant-primary: #6d72c3;
	--vibrant-primary-dark: #5941a9;
	--vibrant-primary-light: #e5d4ed;
	--vibrant-secondary-dark: #b28451;
	--vibrant-secondary-light: #fcddb9;
	--heading-font-size: 40px;
	font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #3c3c3c;
		--font-color: #fafafa;
	}
}
